.timer-container {
  border: 2px solid #bdbdbd;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0 0 0.5rem 0;
  background-color: #ffffff; /* เทาอ่อน */
  width: 500px;
  text-align: center;
}

.timer-title {
  color: #1976d2; /* น้ำเงิน */
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.timer-display {
  border: 2px solid #bdbdbd;
  border-radius: 0.5rem;
  color: #1976d2;
  text-align: right;
  font-size: x-large;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  width: 15rem;
  background-color: #ffffff;
  margin-bottom: 0.5rem;
}

.timer-buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

/* ปุ่ม Reset */
.btn-reset {
  background-color: #d32f2f; /* แดง */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* ปุ่ม Run */
.btn-run {
  background-color: #388e3c; /* เขียว */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* ปุ่ม Pause */
.btn-pause {
  background-color: #fbc02d; /* เหลือง */
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}